@import reset
@import fonts

body
	font-family 'Garamond'
	font-size 18px
	line-height 125%

h1
	font-size 36px
	margin 40px 0 40px

h2
	font-size 26px
	margin 30px 0 24px

h3
    font-size 22px
    margin 20px 0

p
    margin 20px 0
    line-height 160%
    word-spacing 2px

img
    max-width 100%

.pull-left
    float left

.pull-right
    float right

strong, .bold
    font-weight bold

i, em, .italic
    font-style italic

u, .underline
    text-decoration underline

.uppercase
    text-transform uppercase

.page-break
    page-break-before always

.clearfix:after
    content ""
    display: table
    clear both

cover
    position relative
    height 62.42em
    text-align center
    h1, h2, h3
        font-weight normal
    h1:first-child
        padding 220px 0 25px
        line-height 125%
    h3:last-child
        padding 38px 0 0 0
        text-transform uppercase

chapter table-of-contents
    ul
        overflow hidden
        list-style one
        span
            &:first-child
                padding-right 0.33em
                background white
            & + span
                float right
                padding-left 0.99em
                background white
        &.index-1 > li
            padding 0 0 18px
            page-break-inside avoid
            > span.chapter-title,
            > span.page-number
                font-weight bold
        &.index-2 > li
            padding 6px 0 0 18px
            &:before
                float left
                width 0
                white-space nowrap
                content " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "

chapter
    display block
    page-break-before always

chapter
    > h1
        padding 80px 0 20px
